aiofiles
aiohttp-socks
apscheduler
aioaria2
aioqbt
cloudscraper
cryptography
dnspython
fastapi
feedparser
gunicorn
httpx
jinja2
lxml
natsort
pillow
psutil
psycopg[binary]
kurigram
python-magic
requests
telegraph
tenacity
tgcrypto
urllib3
uvicorn
uvloop
yt-dlp[default,curl-cffi]
